# 鏈湴鎴?CI/CD 杩愯 Terraform 鏃讹紝鎶婅繖涓枃浠跺鍒舵垚 secrets.auto.tfvars 鍚庡啀濉湡瀹炲€笺€?
# 杩欎釜鏂囦欢涓嶆彁浜や粨搴擄紝閫傚悎鏀炬晱鎰熶俊鎭拰鐜杩愯鏃堕暅鍍忓弬鏁般€?

sql_administrator_login_password = "ChangeMe-Testbed-Sql-Password-123!"
sql_connection_string            = "Server=tcp:docflow-testbed-sql.database.windows.net,1433;Initial Catalog=CloudDocumentPipelineTestbedDb;Persist Security Info=False;User ID=docflowadmin;Password=ChangeMe;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
blob_connection_string           = "DefaultEndpointsProtocol=https;AccountName=stgdocflowtestbed;AccountKey=ChangeMe;EndpointSuffix=core.windows.net"
service_bus_connection_string    = "Endpoint=sb://sb-docflow-testbed.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ChangeMe"
ghcr_registry_username           = "ChangeMe-GitHub-Username"
ghcr_registry_password           = "ChangeMe-GHCR-Read-Token"

api_image          = "ghcr.io/example/docflowcloud-api:testbed-latest"
web_image          = "ghcr.io/example/docflowcloud-web:testbed-latest"
worker_image       = "ghcr.io/example/docflowcloud-worker:testbed-latest"
notification_image = "ghcr.io/example/docflowcloud-notification-service:testbed-latest"
migrator_image     = "ghcr.io/example/docflowcloud-migrator:testbed-latest"
